---
import Button from "../components/Button.astro";
import "../styles/main.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro Buttons</h1>
		<Button id="btn1" theme="success" isfilled>
			<span>Click Here</span>
			<span>→</span>
		</Button>
	</body>
</html>

<script>
	document.querySelector("#btn1")?.addEventListener("click", () => alert("yo"));
</script>
